.upload {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__panel {
        height: 5rem;
        width: 50%;
        border-color: $upload-color !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $upload-color;
    }
    &__icon {
        font-size: 1.5rem;
    }
}