.upload {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__panel {
        height: 6rem;
        width: 6rem;
        background-color: #00bdaa;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    &__icon {
        font-size: 1.5rem;
    }
}